<header class="navbar">
  <div class="container navbar-content">
    <a class="brand" data-href="index.html">Daniel Salinas</a>
    <nav>
      <button class="nav-toggle" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="nav-links">
        <li><a data-page="home" data-href="index.html">Home</a></li>
        <li><a data-page="about" data-href="about.html">About</a></li>
        <li><a data-page="projects" data-href="projects.html">Projects</a></li>
        <li><a data-page="contact" data-href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
